body{
    margin:0;
    padding: 0;
    font-family: 'Shadows Into Light', cursive;
    color: #fff;
  }
  *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    height: 80px;
    line-height: 30px;
    background: rgba(18, 49, 222, 0.88);
    z-index: 40;   
  }
  .title_header{
    display: inline-block;
    text-transform: uppercase;
  }
  .title_icon{
    vertical-align: middle;
    background-position: center;
  }
  .content{
    width: 100%;
    position: relative;
    margin-top: 80px;
    padding: 0 30px;
    text-align: center;
    background-image: url("img/love.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100vh;
  }
  .cifrar{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 600px ;
    height: 620px;
    padding: 20px;
    border-radius: 5px;
    background: rgba(14, 59, 196, 0.8);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.4);
    box-shadow: 0 5px 10px rgba(0,0,0,.4);  
  }
  .titles_cifrar{
    font-size: 1.5em;
  }
  .offset input[type="text"]{
    outline: none;
    border: 1px solid #0000cd;
    height: 40px;
    padding-left:10px; 
  }
  .offset input[type="text"]:focus{
    border: 1px solid #000;
  }
  .buttons_cipher{
    margin: 40px;
  }
  .resize{
    resize: none;
    width: 75%;
    height: 100px;
    outline: none;
    border: 1px solid #0000cd;
    padding-left: 10px;
  }
  .resize:focus {
    border: 1px solid #000;
    
  }
  .buttons{
    color: #fff;  
    background-color: #80dd98;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
  }
  .buttons:hover{
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
  }

  @media only screen and (min-width: 320px) {
   .cifrar{
    width: 90%;
   } 
    
  }